
*{
    margin: 0;
    padding: 0;
}
.cabeça {
    background-color: #221B1B;
    color: #FFFFFF;
    display: flex;
   justify-content: space-around;
   align-items: center;
   

}
.titulo{
    display: flex;
    font-size: xx-large;
   
}
body {
    background-color: #DFD5D5;
}

.IMGCB1{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.item{
    margin: 0%, 16px;
}
